/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #DE3163;
    padding: 25px;
  }

  .centerText {
      text-align:center;
  }

  .leftText {
      text-align:left;
      padding-left:30%;
  }

  .borderLeft {
      border-left: 5px solid #eee;
  }

  .borderRight {
      border-right: 5px solid #eee;

  }

  .bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
  }

  .bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
  }

  .bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
  }

  h1 {
      
  }

  h2 {

  }